*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans',sans-serif;
}


.banner{
    display: flex;
    height:80vh;
    width: 100%;
}
.banner img{
    z-index: -1;
     width: 100%;
}

.tabbaner{
    background-image:url(image/tabbanner.jpg);
    background-size: cover;
}

.par{
   position: absolute;
   bottom:17%;
   left: 10%;
   display:flex;
   height:15%;
   width:85%;
   color: rgb(48, 46, 46);
   font-size: 25px;
   
}
.par h1{
    height:50%;
    width:70%;
}
.par h3{
    height:60%;
    width:90%;
}
.bar{
    position: fixed;
    display: grid;
    grid-template-rows: repeat(6),1.5fr;
    height:90%;
    width:7%;
    background-color:white;
    text-align: center;
}
.li{
   background-image: url(image/logoback.png);
   height: 8rem;
}
.li img{
    width:120%;
    height: 10%;
    position: absolute;
    top:5%;
    left:15%;
    z-index:2;

}
.bar a{
    height:10%;
    width:50%;
}

.bar li img{
    height:30%;
    width:30%;
    opacity: .4;
}

.bar p{
    opacity: .6;
}

.bootbar{
    position: fixed;
    bottom: 0;
    display: block;
    justify-content: space-around;
    background-color:rgb(253, 253, 253);
    height:7%;
    width:100%;
    z-index:1;
}

.bootpic{
    position: absolute;
    display: flex;
    justify-content: space-around;
    height:80%;
    width:100%;
    top:8%;
}

.bootbar img{
    left: 10%;
    height:60%;
    width:60%;
    opacity:.7;
}

.bootp{
    display: flex;
    justify-content: space-around;
    height:50%;
    width:100%;
    position: absolute;
    bottom:-9%;
    opacity:.7;
}

.space{
    background-color: white;
    height:2rem;
    width:100%;
}

.banner2{
    display:grid;
    grid-template-columns: 3fr 3fr 3fr;
    height:40%;
    width:75%;
    margin: auto;
}

h2{
    height:30%;
    width:65%;
    font-weight: 100;
    line-height:90%;
    font-size:300%;
    text-align: center;
}
.crd{
    display: flex;
    justify-content: center;
    align-items: center;
    height:135%;
    width:80%;
    background-color: rgb(232, 235, 234);
    border-radius:2%; 
}

.crd img{
    height:65%;
    width:60%;
}

.para {
    display: flex;
    justify-content: center;
    align-items: center;
    width:74%;
    height:6rem;
    margin: auto;
    padding-top:5%;
}

.para p{
    width:100%;
    font-size: 20px;
} 
#scend{
 margin-left:-35%;
}

#thrd{
    margin-left:-35%;
}

.banner3{
    width:100%;
    /* background-color: aqua; */
}
.crd2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:35%;
    width:75%;
    background-color: rgb(208, 208, 214);
    position:absolute;
    top: 90%;
    left:10%;
    border-radius: 6px;
}

.crd2 img{
    height:60%;
    width:40%;
}

.crd3{
    display: flex;
    justify-content: center;
    align-items: center;
    height:35%;
    width:75%;
    background-color: rgb(208, 208, 214);
    position:absolute;
    top: 145%;
    left:10%;
    border-radius: 6px;
}

.crd3 img{
    height:60%;
    width:40%;
}

.crd4{
    display: flex;
    justify-content: center;
    align-items: center;
    height:35%;
    width:75%;
    background-color: rgb(208, 208, 214);
    position:absolute;
    top: 205%;
    left:10%;
    border-radius: 6px;
}

.crd4 img{
    height:60%;
    width:40%;
}

#mob1{
    position: absolute;
    top:80%;
    left:8%;
    font-weight: 100;
    font-size: 25px;
}

#mob2{
    position: absolute;
    top:136%;
    left:8%;
    font-weight: 100;
    font-size: 25px;
}

#mob3{
    position: absolute;
    top:198%;
    left:8%;
    font-weight: 100;
    font-size: 25px;
}

#firp{
    position: absolute;
    left:10%;
    top:128%;
}

#sedp{
    position: absolute;
    left:10%;
    top:184%;
}

#thip{
    position: absolute;
    left:10%;
    top:245%;
}

footer{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    height:20rem;
    width:91%;
    background-color:#3e2b1a;
    margin-left:9%;
    color: rgb(135, 138, 137);
}
.info{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin: auto;
    width:80%;
    height:41%; 
}
.info img{
   height:60%;
   width:60%;
}
 
.info li{
    border:1px solid rgb(231, 225, 225);
    font-size: 20px;
    text-align: center;
    height: 55%;
}

.cont{
    margin: auto;
    width:70%;
    height:41%; 
    justify-content: center;
    font-size: 20px;
    line-height: 150%;
}
.priv{
    margin: auto;
    width:70%;
    height:41%; 
    justify-content: center;
    font-size: 20px;
    line-height:150%;
}



